@model List<ShopQuanAo.Object.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container stylization maincont">
    <ul class="b-crumbs">
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <span>Cart</span>
        </li>
    </ul>
    <h1 class="main-ttl"><span>Cart</span></h1>
    <!-- Cart Items - start -->
    <form action="#">

        <div class="cart-items-wrap">
            <table class="cart-items">
                <thead>
                    <tr>
                        <td class="cart-image">Photo</td>
                        <td class="cart-ttl">Products</td>
                        <td class="cart-price">Price</td>
                        <td class="cart-quantity">Quantity</td>
                        <td class="cart-summ">Summ</td>
                        <td class="cart-del">&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="cart-image">
                                <a href="product.html">
                                    <img src="@item.Image" alt="Product">
                                </a>
                            </td>
                            <td class="cart-ttl">
                                <a href="@Url.RouteUrl("RouteClient" , new { action="SanPham" , id = item.SLUG })">@item.TEN_SP</a>
                                <p>Color: @item.Color</p>
                                <p>Size: @item.Size</p>
                            </td>
                            <td class="cart-price">
                                <b>@String.Format("{0:0,0}", item.GIA_BAN) VNĐ</b>
                            </td>
                            <td class="cart-quantity">
                                <p class="cart-qnt">
                                    <input value="@item.quantity" type="text">
                                    <a href="#" class="cart-plus"><i class="fa fa-angle-up"></i></a>
                                    <a href="#" class="cart-minus"><i class="fa fa-angle-down"></i></a>
                                </p>
                            </td>
                            <td class="cart-summ">
                                <b> @String.Format("{0:0,0}", (item.GIA_BAN * item.quantity)) VNĐ</b>
                                <p class="cart-forone">unit price <b>$220</b></p>
                            </td>
                            <td class="cart-del">
                                <a href="#" class="cart-remove"></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <ul class="cart-total">
            <li class="cart-summ">TOTAL: 
                <b>
                    @if (Model.Count > 0)
                    {
                         @String.Format("{0:0,0} VNĐ", Model.Sum(x => (x.GIA_BAN * x.quantity)))
                    }
                    else
                    {
                        @String.Format(" 0 VNĐ")
                    }
                </b>
            </li>
        </ul>
        <div class="cart-submit">
            <div class="auth-col">
                <h2>Thông Tin</h2>
                    <p>
                        <label for="username">Tên Người Nhận <span class="required">*</span></label><input type="text" id="username">
                    </p>
                    <p>
                        <label for="username">Số Điện Thoại <span class="required">*</span></label><input type="text" id="username">
                    </p>
                    <p>
                        <label for="username">E-mail <span class="required">*</span></label><input type="text" id="username">
                    </p>
                    <p>
                        <label for="password">Ghi Chú <span class="required">*</span></label><textarea cols="4" id="password"></textarea>
                    </p>
                  
            </div>
            <a href="#" class="cart-submit-btn">Mua Hàng</a>
            <a href="@Url.RouteUrl("giohang" , new { action = "DeleteCart" })" class=" cart-clear ">Hủy Đơn</a>
        </div>
    </form>
    <!-- Cart Items - end -->

</section>

